/*  your css code here. If applicable */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#animal-photos{
	background-color: grey;
}
#photo-heading{
	display:flex;
	text-transform: uppercase;
	color: white;
	justify-content: center;
}
.animals{
	display: grid;
	grid-template-columns: 33% 33% 33%;
	gap: 3px;
	margin-top: 15px;
	margin-left: 25px;
	margin-right: 25px;
	justify-content: space-around;
}
.animals img {
	border-radius: 10px
}